.wrapper {
  padding: 2rem 0;
  background-color: var(--ifm-color-primary);
}

.itemImage {
  width: 100%;
  border: 1px solid var(--ifm-color-primary);
}

.itemTitle {
  font-size: 130%;
  font-weight: 600;
  margin-top: 1rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}
