.wrapper {
  --rotation: -14deg;
  position: absolute;
  top: 0;
  left: -10px;
}

.badge {
  transform: rotate(var(--rotation));
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    transform: rotate(var(--rotation)) scale(1);
  }
  50% {
    transform: rotate(var(--rotation)) scale(1.1);
  }
  100% {
    transform: rotate(var(--rotation)) scale(1);
  }
}
