.heroBanner {
  position: relative;
  padding: 32px 0;
  text-align: center;
  overflow: hidden;
}

.logoRow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.logoImage {
  width: 640px;
}

.coffeeImage {
  width: 150px;
  height: 150px;
  background-color: var(--tech-writer-impact-color);
  border-radius: 50%;
}

.tagline {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  img.coffeeImage {
    width: 100px;
    height: 100px;
  }

  h1.tagline {
    font-size: 110%;
    font-weight: 500;
  }
}
