.wrapper {
  display: flex;
}

.impact {
  background-color: var(--ifm-color-emphasis-100);
}

.section {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  border-radius: 6px;
}

.sectionTitle {
  margin-bottom: 2rem;
  text-align: center;
}

.partnerList {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.partner {
  border: 1px solid var(--ifm-color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.partner:hover,
.partner::selection,
.partner:focus {
  transform: scale(1.1);
}

@media screen and (max-width: 996px) {
  div.wrapper {
    flex-wrap: wrap;
  }

  div.partnerList {
    gap: 1rem;
    flex-wrap: wrap;
  }
}
