.section {
  margin: 2rem auto;
}

.sectionTitle {
  margin-bottom: 2rem;
  text-align: center;
}

.partnerList {
  --image-width: 200px;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.partner {
  border: 1px solid var(--ifm-color-primary);
  width: var(--image-width);
  height: var(--image-width);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  transform: scale(0.5);
}

.partner img {
  width: 100%;
}

.partner:hover,
.partner::selection,
.partner:focus {
  transform: scale(1);
}

@media screen and (max-width: 996px) {
  div.partnerList {
    --image-width: 100%;
    gap: 1rem;
  }
}
